<h1>Team Leadership of <%= @team_scav_hunt.name %> (<%= @team.affiliation %>)</h1>
<h3>Captains</h3>
<ul>
  <% @captains.each do |user| %>
    <li><%= user.user.name %></li>
  <% end %>
</ul>

<% @leadership.each do |role| %>
  <h3><%= role.name %></h3>
  <% if captain? %>
    <%= form_with model: role.team_role_members.new, url: team_scav_hunt_role_members_path(@team_scav_hunt), html: {autocomplete: 'off'} do |form| %>
      <%= form.hidden_field :team_role_id, value: role.id %>
      <%= form.select :user_id, [["N/A", nil], *@team_users.map { |tu| [tu.user.name, tu.user.id] }] %>
      <%= form.submit "Add" %>
    <% end %>
  <% end %>
  <ul>
    <% role.team_role_members.all.each do |member| %>
      <li>
        <%= member.user.name %>
        <% if captain? %>
          <%= form_with model: member, method: :DELETE, url: team_scav_hunt_role_member_path(@team_scav_hunt, member) do |form| %>
            <%= form.submit "Delete" %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<h3>Page Captains</h3>
<ul>
  <% @page_captains.each do |page_captain| %>
    <li>Page <%= page_captain.page_number %>: <%= page_captain.user.name %></li>
  <% end %>
</ul>
