<h1>Edit Item</h1>
<%= form_with model: @item, url: team_scav_hunt_item_path(@team, @team_scav_hunt, @item) do |form| %>
  <%= form.label :page_number %>
  <%= form.number_field :page_number, required: true, placeholder: "Page Number" %>
  <%= form.label :number %>
  <%= form.number_field :number, required: true, placeholder: "Item Number" %>
  <%= form.label :content %>
  <%= form.text_field :content, required: true, placeholder: "Item text" %>
  <%= form.submit "Update" %>
<% end %>
