<h1>Edit Item <% if @item.page_number %><%= @item.page_number %>-<% end %><%= @item.number %><% if @item.list_category %> (<%= @item.list_category.name %>)<% end %></h1>
<div id="item-form-wrap">
  <%= form_with model: @item, url: team_scav_hunt_item_path(@team_scav_hunt, *@item.for_url) do |form| %>
    <%= render "item_form_fields", form: form, item: @item, list_categories: @list_categories %>
    <fieldset>
      <legend>Annotations</legend>
      <div class="form-inline">
        <%= form.checkbox :digital_submission %>
        <%= form.label :digital_submission, "💾 Digital Submission" %>
      </div>
      <%#= form.label :tags %>
      <div class="form-inline">
        <%= form.checkbox :special_formatting %>
        <%= form.label :special_formatting %>
        <sup title="If there's anything about this item that looks weird and isn't fully captured in your transcription, check this box to instruct future scavvies to check the list for the exact item text.">ⓘ</sup>
      </div>
    </fieldset>
    <% if captain? %>
      <%= form.label :discord_thread_id %>
      <%= form.text_field :discord_thread_id, placeholder: "Discord Thread ID" %>
    <% end %>
    <%= form.submit "Update" %>
  <% end %>
</div>
