<main>
  <h2>Create Item</h2>
  <div id="item-form-wrap">
    <%= form_with model: @item, url: team_scav_hunt_items_path(@team_scav_hunt), class: 'item-form' do |form| %>
      <%= render "item_form_fields", form: form, item: @item, list_categories: @list_categories %>
      <fieldset>
        <legend>Annotations</legend>
        <div class="form-field">
          <div class="form-inline">
            <%= form.label :timed_calendar, "Timed Item Date" %>
            <sup title="Date and time for timed item. Must be input in Central Time. Leave blank for non-timed items.">ⓘ</sup>
          </div>
          <%= form.datetime_local_field :timed_calendar %>
        </div>
        <div class="form-inline">
          <%= form.checkbox :digital_submission %>
          <%= form.label :digital_submission, "💾 Digital Submission" %>
        </div>
        <%#= form.label :tags %>
        <div class="form-inline">
          <%= form.checkbox :special_formatting %>
          <%= form.label :special_formatting %>
          <sup title="If there's anything about this item that looks weird and isn't fully captured in your transcription, check this box to instruct future scavvies to check the list for the exact item text.">ⓘ</sup>
        </div>
        <%= form.collection_check_boxes :team_tags, @tags, :id, :name, include_hidden: false do |b| %>
          <div class="form-inline">
            <%= b.checkbox %>
            <%= b.label style: "color:#{b.object.color}" %>
          </div>
        <% end %>
        <%#= form.select :tags, @tags.map { |tag| [tag.name, tag.id] }, default: nil, multiple: true, include_hidden: false %>
      </fieldset>
      <div class="item-submit-row form-inline">
        <%= form.submit "Create" %>
      </div>
    <% end %>

    <div id="page-wrap">
    </div>
  </div>
</main>

<%= javascript_import_module_tag "controllers/item_create" %>
