<main id="item-page">
  <section>
    <% if @item.item_submission %>
      <div class="item-submission">
        ✅ Item has been submitted!
        <p>
          <b>Instructions</b>: <%= @item.item_submission.instructions %>
          <%= link_to "(edit)", edit_team_scav_hunt_item_submission_path(@team_scav_hunt, *@item.for_url) %>
        </p>
        <ul>
          <% @item.item_submission.item_files.each do |f| %>
            <li>
              <%= link_to f.file.metadata['filename'], team_scav_hunt_item_file_path(@team_scav_hunt, *@item.for_url, f.id) %>
              <%= form_for f, method: :delete, url: team_scav_hunt_item_file_path(@team_scav_hunt, *@item.for_url, f) do |form| %>
                <%= form.submit "Delete" %>
              <% end %>
              <%= form_for f, method: :delete, url: team_scav_hunt_item_submission_file_detach_path(@team_scav_hunt, *@item.for_url, f) do |form| %>
                <%= form.submit "Detach" %>
              <% end %>
            </li>
          <% end %>
        </ul>
        <%= form_with method: :delete, url: team_scav_hunt_item_submission_path(@team_scav_hunt, *@item.for_url) do |form| %>
          <%= form.submit "Cancel Submission" %>
        <% end %>
        <%= form_for @item.item_submission.item_files.new, url: team_scav_hunt_item_submission_file_attach_path(@team_scav_hunt, *@item.for_url), method: :post do |f| %>
          <b><%= f.label :files, "Attach Additional Files" %></b>
          <%= f.file_field :files, multiple: true, include_hidden: false %>
          <% @item.item_files.each do |item_file| %>
            <%= label_tag "item_file[import_files][]", item_file.file.metadata["filename"] %>
            <%= checkbox_tag "item_file[import_files][]", value: item_file.id %>
          <% end %>
          <%= f.submit "Attach" %>
        <% end %>
      </div>
    <% end %>
    <% if @item.special_formatting %>
      <p><i><b>WARNING:</b> This transcription may not exactly match the list. Check the actual list to confirm before working on this item.</i></p>
    <% end %>
    <% if !@events.empty? %>
      <h4>
        <% if @events.length > 1 %>
          Next timed event:
        <% else %>
          Timed event:
        <% end %>
        <span style="color: <%= urgency_css_class @next_event %>;">
          <%= "#{Time.current > @next_event.date ? '' : 'in '}#{distance_of_time_in_words Time.current, @next_event.date}#{Time.current > @next_event.date ? ' ago' : ''} (#{@next_event.date.strftime "%a %H:%M %P"})" %></h4>
        </span>
    <% end %>
    <b><% if @item.page_number %>Page <%= @item.page_number %>,<% end %> Item <%= @item.number %><%= @item.digital_submission ? " 💾" : "" %>:</b>
    <blockquote>
      <pre class="item-text"><%= @item.content %></pre>
      <% if @item.points_text.present? %>
        [<%= @item.points_text %>]
      <% end %>
    </blockquote>
    <% if team_user? %>
      <p><%= link_to "(edit)", edit_team_scav_hunt_item_path(@team_scav_hunt, *@item.for_url) %></p>
    <% end %>
    <% if !@item.points_value.nil? %>
      <p>Point value: <%= @item.points_value %></p>
    <% end %>
    <% if team_user? || @item.item_tags.length > 0 %>
      <ul class="inline-list">
        Tags:
        <% @item.item_tags.all.each do |item_tag| %>
          <li class="item-tag" style="--tag-color:<%= item_tag.team_tag.color %>">
            <%= link_to item_tag.team_tag.name, team_scav_hunt_tag_path(@team_scav_hunt, item_tag.team_tag) %>
            <% if team_user? %>
              <%= form_with model: item_tag, method: :delete, url: team_scav_hunt_item_tag_path(@team_scav_hunt, *@item.for_url, item_tag), class: 'inline-form' do |form| %>
                <%= form.submit "❌", class: 'inline-button' %>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
    <% if team_user? %>
      <%= form_with model: @item.item_tags.new, url: team_scav_hunt_item_tags_path(@team_scav_hunt, *@item.for_url), class: 'inline-form' do |form| %>
        <%#= form.label :tag_id, "Add tag:" %>
        <%= form.select :tag_id, [["N/A", nil], *@tags.map { |tag| [tag.name, tag.id] }] %>
        <%= form.submit "Add" %>
      <% end %>
    <% end %>

    <% if !@item.item_submission %>
      <p><%= link_to "Submit completion", new_team_scav_hunt_item_submission_path(@team_scav_hunt, *@item.for_url), class: 'submit-button' %></p>
    <% end %>
  </section>
  <section>
    <h3>Assignees</h3>
    <ul class="item-sidebar-list">
      <% @item.item_users.all.each do |item_user| %>
        <li>
          <%= item_user.user.name %>
          <% if team_user? %>
            <%= form_with model: item_user, method: :delete, url: team_scav_hunt_item_user_path(@team_scav_hunt, *@item.for_url, item_user), class: 'inline-form' do |form| %>
              <%= form.submit "❌", class: 'inline-button' %>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
    <% if team_user? %>
      <%= form_with model: @item.item_users.new, url: team_scav_hunt_item_users_path(@team_scav_hunt, *@item.for_url) do |form| %>
        <%#= form.label :user_id, "Assign:" %>
        <%= form.select :user_id, [["N/A", nil], *@team_users.map { |team_user| [team_user.user.name, team_user.user.id] }] %>
        <%= form.submit "Assign" %>
      <% end %>
    <% end %>

    <details>
      <summary>Draft Files (<%= @files.count %>)</summary>

      <% if @files %>
      <ul>
        <% @files.each do |f| %>
          <li>
            <% if f.item_submission.nil? %>
              [DRAFT]
            <% end %>
            <%= link_to f.file.metadata['filename'], team_scav_hunt_item_file_path(@team_scav_hunt, *@item.for_url, f.id) %>
            <% if team_user? %>
              <%= form_for f, method: :delete, url: team_scav_hunt_item_file_path(@team_scav_hunt, *@item.for_url, f) do |form| %>
                <%= form.submit "Delete" %>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
      <% end %>

      <% if team_user? %>
        <%= form_for @item.item_files.new, url: team_scav_hunt_item_files_path(@team_scav_hunt, *@item.for_url), method: :post do |f| %>
          <%#= f.label :file, "Attach Files" %>
          <%= f.file_field :file, multiple: true, include_hidden: false, required: true %>
          <%= f.submit "Attach WIP file" %>
        <% end %>
      <% end %>
    </details>
    <details>
      <summary>Timed Info (<%= @events.count %>)</summary>
      <ul class="item-sidebar-list">
        <% @events.each do |e| %>
          <li>
            <% t = e.date.change(zone: "America/Chicago") %>
            <% if Time.current < t %>in<% end %>
            <%= distance_of_time_in_words Time.current, t %>
            <% if Time.current > t %>ago<% end %>
            (<%= t.strftime "%D %r" %>)
            <% if team_user? %>
              <%= form_with model: e, url: team_scav_hunt_item_event_path(@team_scav_hunt, *@item.for_url, e), method: :delete, class: 'inline-form' do |form| %>
                <%= form.submit "❌", class: 'inline-button' %>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
      <% if team_user? %>
        <%= form_with model: @events.new, url: team_scav_hunt_item_events_path(@team_scav_hunt, *@item.for_url) do |f| %>
          <%= f.datetime_local_field :date, required: true %>
          <%= f.submit "Add Timed Event" %>
        <% end %>
      <% end %>
    </details>
  </section>
</main>
