<h1>Edit Tag</h1>
<%= form_with model: @tag, url: team_tag_path(@tag) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name, required: true, placeholder: "Name" %>
  <%= form.label :color %>
  <%= form.color_field :color, required: true %>
  <%= form.label :enabled %>
  <%= form.checkbox :enabled %>
  <%= form.label :team_role_id %>
  <%= form.select :team_role_id, [["N/A", nil], *@roles.map { |role| [role.name, role.id] }] %>
  <%= form.submit "Update" %>
<% end %>
