<h1>Create Tag</h1>
<%= form_with model: @team.team_tags.new do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name, required: true, placeholder: "Name" %>
  <%= form.label :color %>
  <%= form.color_field :color, required: true %>
  <%= form.submit "Create" %>
<% end %>
