<h1>Edit <%= @team_scav_hunt.name %> (<%= @team.affiliation %>)</h1>
<%= form_with model: @team_scav_hunt do |form| %>
  <%= form.label :name, "Name:" %>
  <%= form.text_field :name %>
  <%= form.submit "Update" %>
<% end %>
