<% content_for :inner_layout do %>
<header>
  <div class="user-link">
    <% if team_user? %>
      <%= link_to @team_user.user.name, edit_user_url(@team_user.user) %>
      <br>
      <% if captain? %>
        <%= form_with url: team_authcode_from_current_path do |form| %>
          <%= form.submit "Create Shareable Link" %>
        <% end %>
      <% end %>
      <%= link_to "Log Out", logout_path %>
    <% elsif @pending_team_user %>
      <%= link_to @pending_team_user.user.name, edit_team_user_url(@pending_team_user.user) %> [PENDING APPROVAL]
    <% else %>
      <%= link_to "Create Account", new_team_user_path %>
      <br>
      <%= link_to "Exit", logout_path %>
    <% end %>
  </div>
  <h1><%= link_to @team_scav_hunt.name, team_scav_hunt_path(@team_scav_hunt) %></h1>
</header>
<nav>
  <ul>
    <li><%= link_to "Leadership", team_scav_hunt_role_members_path(@team_scav_hunt) %></li><%#
    %><li><%= link_to "Directory", team_users_path %></li><%#
    %><li><%= link_to "Calendar", team_scav_hunt_events_path %></li><%#
    %><% if team_user? %><%#
      %><li><%= link_to "My Items (#{@my_items.count})", team_scav_hunt_items_mine_path(@team_scav_hunt) %></li><%#
      %><% if !@my_roles.empty? %><%#
        %><li>
          My Roles
          <ul>
            <% @my_roles.each do |team_role| %>
              <li><%= link_to team_role.name, team_scav_hunt_role_path(@team_scav_hunt, team_role) %></li>
            <% end %>
          </ul>
        </li><%#
      %><% end %><%#
    %><% end %><%#
    %><li>
      <%= link_to "Full List", team_scav_hunt_items_path(@team_scav_hunt) %>
      <ul>
        <% @page_numbers.each do |page_number| %>
          <li><%= link_to "Page #{page_number}", team_scav_hunt_page_path(@team_scav_hunt, page_number) %></li>
        <% end %>
      </ul>
    </li><%#
    %><% if captain? %><%#
      %><li>
        Hunt Setup
        <ul>
          <li><%= link_to "Add Page Captain", new_team_scav_hunt_page_path(@team_scav_hunt) %></li>
          <li><%= link_to "Modify Registration", edit_team_scav_hunt_path(@team_scav_hunt) %></li>
          <li><%= link_to "Configure Discord", edit_team_scav_hunt_discord_path(@team_scav_hunt) %></li>
          <li><%= link_to "⚙ Global Settings", team_settings_path %></li>
        </ul>
      </li>
    <% end %>
  </ul>
</nav>
<%= yield %>
<% end %>
<%= render template: 'layouts/application' %>
