<% content_for :inner_layout do %>
<h2>
  <%= link_to @team.affiliation, team_path %>
  <% if captain? %>
    <small><%= link_to "(⚙ team settings)", team_settings_path %></small>
  <% end %>
</h2>
<% if captain? %>
  <%= form_with url: team_authcodes_path do |form| %>
    <%= form.submit "Create Shareable Link" %>
  <% end %>
<% end %>
<h1><%= @team_scav_hunt.name %></h1>
<nav>
  <ul>
    <li><%= link_to "Leadership", team_scav_hunt_role_members_path(@team_scav_hunt) %></li>
    <li><%= link_to "Directory", team_users_path %></li>
    <% if team_user? %>
      <li><%= link_to "My Items (#{@my_items.count})", team_scav_hunt_items_mine_path(@team_scav_hunt) %></li>
      <li>
        My Roles
        <ul>
          <% @my_roles.each do |team_role| %>
            <li><%= link_to team_role.name, team_scav_hunt_role_path(@team_scav_hunt, team_role) %></li>
          <% end %>
        </ul>
      </li>
    <% end %>
    <li>
      <%= link_to "Full List", team_scav_hunt_items_path(@team_scav_hunt) %>
      <ul>
        <% @page_numbers.each do |page_number| %>
          <li><%= link_to "Page #{page_number}", team_scav_hunt_page_path(@team_scav_hunt, page_number) %></li>
        <% end %>
      </ul>
    </li>
    <% if captain? %>
      <li>
        Hunt Setup
        <ul>
          <li><%= link_to "Add Page Captain", new_team_scav_hunt_page_path(@team_scav_hunt) %></li>
          <li><%= link_to "Modify Registration", edit_team_scav_hunt_path(@team_scav_hunt) %></li>
          <li><%= link_to "Configure Discord", edit_team_scav_hunt_discord_path(@team_scav_hunt) %></li>
        </ul>
      </li>
    <% end %>
  </ul>
</nav>
<%= yield %>
<% end %>
<%= render template: 'layouts/application' %>
