<% content_for :inner_layout do %>
<h1><%= @team_scav_hunt&.name || @team.affiliation %></h1>
<nav>
  <ul>
    <% if @team_scav_hunt %>
      <li><%= link_to "Leadership", team_scav_hunt_role_members_path(@team_scav_hunt) %></li>
      <li><%= link_to "Directory", team_users_path %></li>
      <li><%= link_to "My Items (#{@my_items.count})", team_scav_hunt_items_mine_path(@team_scav_hunt) %></li>
      <li>
        My Roles
        <ul>
          <% @my_roles.each do |team_role| %>
            <li><%= link_to team_role.name, team_scav_hunt_role_path(@team_scav_hunt, team_role) %></li>
          <% end %>
        </ul>
      </li>
      <li>
        <%= link_to "Full List", team_scav_hunt_items_path(@team_scav_hunt) %>
        <ul>
          <% @page_numbers.each do |page_number| %>
            <li><%= link_to "Page #{page_number}", team_scav_hunt_page_path(@team_scav_hunt, page_number) %></li>
          <% end %>
        </ul>
      </li>
      <% if captain? %>
        <li>
          Hunt Setup
          <ul>
            <li><%= link_to "Add Page Captain", new_team_scav_hunt_page_path(@team_scav_hunt) %></li>
            <li><%= link_to "Configure Discord", edit_team_scav_hunt_path(@team_scav_hunt) %></li>
          </ul>
        </li>
      <% end %>
    <% end %>
    <% if captain? %>
      <li>
        Team
        <ul>
          <li><%= link_to "Team registration", new_team_scav_hunt_path %></li>
          <li><%= link_to "Manage item tags", team_tags_path %></li>
          <li><%= link_to "Manage team roles", team_roles_path %></li>
          <li><%= link_to "Approved users", team_users_path %></li>
          <li><%= link_to "Pending users (#{@team.team_users.where(approved: nil).count})", team_users_pending_path %></li>
          <li><%= link_to "Banned users", team_users_banned_path %></li>
          <li><%= link_to "Manage captains", team_users_captains_path %></li>
        </ul>
      </li>
    <% end %>
  </ul>
</nav>
<%= yield %>
<% end %>
<%= render template: 'layouts/application' %>
